body {
    font-family: sans-serif;
    margin-top: 60px;
 }

.center {
    text-align: center;
 }

.text-big {
    font-size: 300%;
 }

.bold {
    font-weight: bold;
 }

.img-medium {
    height: 200px;
 }
  
.container {
  max-width: 800px;
  margin: 0 outo;
  color:grey;
  font-family: sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  control-tab: nodejs brought to be here: 60px;
  
  <p>
    <title>
      font formatiom:var.ghg;
      clear github size to gang it;
      virtual height: predetermined sans-serif;
      get control: over partr;
      style.css: go on styling partloy with summing one and fifth number;
  </title>
  </p>
    <script>
       <p>
        ("site signifies: bartyek fill up 55.55");
        ("hii,myself Dinesh Jayewar");
        ("open javascript doc.");
        (read html(protocol) 67.55.42.09);
 </script>
    <"var guided github.net");
    <high font>;
 </script>
    
      
               
               